{#
{% block title %}{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}{% endblock %}
#}
{% block fos_user_content %}
{% form_theme form theme %}
 <div class="page-header">
    <h1>{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</h1>
</div>
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
   {{ form_errors(form) }}
    <div class="clearfix">
        {{ form_label(form.current) }}
        <div class="input">
            {{ form_widget(form.current) }}
            {{ form_errors(form.current) }}
        </div>
    </div>
    <div class="clearfix">
        {{ form_label(form.new.first) }}
        <div class="input">
            {{ form_widget(form.new.first) }}
            {{ form_errors(form.new.first) }}
        </div>
    </div>
    <div class="clearfix">
        {{ form_label(form.new.second) }}
        <div class="input">
            {{ form_widget(form.new.second) }}
            {{ form_errors(form.new.second) }}
        </div>
    </div>

    {{ form_rest(form) }}
        <div class="actions">
            <input class="btn" type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>

</form>
{% endblock %}